<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <h3>Torbit Sign-on</h3>
      <div class="well">
        <form ng-submit="signon()">
          <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="email" type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input ng-model="password" type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div ng-if="errorMessage != ''">
            <p class="text-danger">{{ errorMessage }}</p>
          </div>
          <button type="submit" class="btn btn-default" ng-disabled="statusMessage != ''">Sign-on</button>
          {{ statusMessage }}
        </form>
      </div>
    </div>
  </div>
</div>
