<div class="row ng-scope">
  <div class="col-lg-12">
    <h1 class="page-header">
      User <small>Management</small>
    </h1>
    <ol class="breadcrumb">
      <li class="active">
      <i class="fa fa-user"></i> Users</li>
    </ol>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> Users</h3>
  </div>
  <div class="panel-body">
    <div class="grid-options">
      <button ng-click="createMode.show = true;" class="btn btn-default">
        <i class="fa fa-plus-circle"></i> New</button>
      <button ng-click="createMode.show = false; refresh()" class="btn btn-default">
        <i class="fa fa-refresh"></i> Refresh</button>
    </div>
    <div ng-show="message.errorTitle !== ''" class="alert alert-danger">
      <strong>{{ message.errorTitle }}</strong> {{ message.errorDetails }}
      <button type="button" class="close" aria-label="Close"
        ng-click="clearMessage();">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Email<span class="text-danger">*</span></th>
            <th>Password<span class="text-danger">*</span></th>
            <th>Name</th>
            <th>Is Administrator?</th>
            <th>Created On</th>
            <th align="center">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="createMode.show" ng-form="createUserForm">
            <td>
              <span ng-class="{'has-error': createUserForm.createEmail.$invalid}">
                <input class="form-control" type="email" name="createEmail"
                  ng-model="newUser.email" required="">
                <label ng-show="createUserForm.createEmail.$error.required"
                  class="control-label" for="createEmail">Required</label>
                <label ng-show="createUserForm.createEmail.$error.email"
                  class="control-label" for="createEmail">This is not a valid email.</label>
              </span>
            </td>
            <td>
              <span ng-class="{'has-error': createUserForm.createPassword.$error.required}">
                <input class="form-control" ng-model="newUser.password"
                  name="createPassword" type="password" required="">
                <label ng-show="createUserForm.createPassword.$error.required"
                  class="control-label" for="createEmail">Required</label>
              </span>
            </td>
            <td>
              <span><input class="form-control" ng-model="newUser.name" /></span>
            </td>
            <td>
              <select class="form-control" ng-model="newUser.admin"
                ng-options="boolToStr(item) for item in [true, false]">
              </select>
            </td>
            <td>&nbsp;</td>
            <td align="center">
              <a href="javascript:void(0);"
                class="align-middle space-right"
                ng-click="save(createUserForm, newUser);">
                <i class="fa fa-floppy-o"></i> Save
              </a>
              <a href="javascript:void(0);"
                class="align-middle space-right"
                ng-click="cancelNewUser(); createMode = false">
                <i class="fa fa-ban"></i> Cancel
              </a>
            </td>
          </tr>
          <tr ng-show="users.length == 0">
            <td colspan="2">No users to show.</td>
          </tr>
          <tr ng-repeat="user in users | orderBy:'email'">
            <td>
              <span>{{ user.email }}</span>
            </td>
            <td>
              <span>[hidden]</span>
            </td>
            <td>
              <span>{{ user.name }}</span>
            </td>
            <td>
              <span>{{ user.admin }}</span>
            </td>
            <td>
              <span>{{ user.created }}</span>
            </td>
            <td align="center">
              <a class="space-right"
                href="javascript:void(0);"
                ng-click="delete(user);">
                <i class="fa fa-trash-o"></i> Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- /table-responsive -->
  </div><!-- /panel-body -->
</div><!-- /panel -->
